/* 공통 CSS */
body {
  margin-top: 56px;
}
.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.content {
  flex: 1;
  background-color: lightpink;
  padding: 20px;
}
/* .basic-bg {
  background-color: lightpink;
} */
