{{> layouts/header }}

{{#article}}
<form class="container" action="" method="post">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" name="title" value="{{title}}">
    </div>
    <div class="mb-3">
        <label class="form-label">Content</label>
        <textarea class="form-control" name="content" rows="3">{{content}}</textarea>
    </div>
    <button class="btn btn-primary" type="submit">submit</button>
    <a href="/articles/{{id}}">취소하기</a>
</form>
{{/article}}

{{> layouts/footer }}