.project-page {
  padding: 20px;
}

.project-nav {
  position: fixed;
  top: 57px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
  background-color: white;
}
.project-nav > p {
  font-size: 1.5rem;
  margin-bottom: 0;
}
.project-toggle-list {
  /* position: fixed;
  top: 60px;
  left: 7px; */
  /* display: flex;
  z-index: 1000; */
  gap: 10px;
}

.project-toggle {
  cursor: pointer; /* 커서 포인터 */
}

.project-toggle-image {
  width: 60px; /* 이미지 너비 */
  height: 60px; /* 이미지 높이 */
  border-radius: 50%; /* 동그란 모양 */
  object-fit: cover; /* 이미지 비율 유지 */
  transition: transform 0.3s; /* 호버 시 애니메이션 효과 */
}

.projet-description {
  margin-top: 57px;
}
.project-toggle:hover .project-toggle-image {
  transform: scale(1.1);
}

.description-container {
  position: relative; /* 설명 컨테이너의 위치 설정 */
  margin-bottom: 20px; /* 각 프로젝트 설명 간의 간격 */
  /* margin-top: 0px; 상단 여백 추가 */
  padding-top: 30px;
}

/* 프로젝트 설명 컨테이너 */
.project-container {
  border: 2px solid #007bff;
}

/* 1. 프로젝트 제목 */
.project-title {
  display: flex;
  margin-bottom: 15px;
}
.project-title > img {
  width: 150px;
  height: 150px;
  margin-right: 15px;
}
.project-info {
  display: flex;
  flex-direction: column;
}

.stacks-accordion {
  /* background-color: transparent; */
  border: none;
}

.stack-card {
  background-color: transparent;
  border: none;
}

.stack-toggle {
  background-color: transparent;
  border: 1px solid white;
  padding: 5px;
  font-size: 20px;
  transition: all 0.3s ease-out;
}

.stack-toggle:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}
