.project-page {
  /* padding: 20px; */
}

.project-nav {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1500;
  background-color: lightpink;
}
.project-nav > p {
  font-size: 1.5rem;
  margin-bottom: 0;
}
.project-toggle-list {
  /* position: fixed;
  top: 60px;
  left: 7px; */
  /* display: flex; */
}

.project-toggle {
  cursor: pointer; /* 커서 포인터 */
  margin-right: 10px;
  /* border: 1px solid black; */
  padding: 1px;
}

.project-toggle-image {
  width: 60px; /* 이미지 너비 */
  height: 60px; /* 이미지 높이 */
  border-radius: 50%;
  border: none;
  object-fit: cover; /* 이미지 비율 유지 */
  transition: transform 0.3s; /* 호버 시 애니메이션 효과 */
}

.project-description {
  margin-top: 57px;
}
.project-toggle:hover .project-toggle-image {
  transform: scale(1.1);
}

.description-container {
  position: relative; /* 설명 컨테이너의 위치 설정 */
  margin-bottom: 20px; /* 각 프로젝트 설명 간의 간격 */
  /* margin-top: 0px; 상단 여백 추가 */
  padding-top: 30px;
  border-radius: 5px;
  border: 1px solid black;
}

/* 프로젝트 설명 컨테이너 */
.project-container {
}
.project-container > h2 {
  text-align: center;
  margin-bottom: 20px;
}
/* 1. 프로젝트 제목 */
.project-title {
  display: flex;
  margin-bottom: 15px;
}
.project-title > img {
  width: 300px;
  height: 300px;
  margin-right: 15px;
  border-radius: 50%;
}
.project {
  margin-top: 40px;
}
.project > h4 {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}
.project-info {
  display: flex;
  flex-direction: column;
}

.stacks-accordion {
  /* background-color: transparent; */
  border: none;
}
.stack-description {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.stack-description > img {
  width: 45px;
  height: auto;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 10px;
  background-color: white;
}
.stack-description > p {
  margin-bottom: 0px;
}
.stack-card {
  background-color: transparent;
  border: none;
}

.stack-toggle {
  background-color: transparent;
  border: 1px solid white;
  padding: 5px;
  font-size: 20px;
  transition: all 0.3s ease-out;
}

.stack-toggle:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

/* 세부 기능 */
.detail-slide {
  display: flex;
  flex-direction: column;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  text-align: center; /* 텍스트 중앙 정렬 */
}

.detail-slide h3 {
  margin: 10px;
  font-size: 50px;
}

.detail-slide img,
.detail-slide video {
  margin-top: 40px;
  width: 700px;
  height: 500px;
  border-radius: 8px; /* 모서리 둥글게 */
}

.slick-slide {
  display: flex !important; /* 슬라이드가 flexbox로 설정되도록 강제 */
  justify-content: center; /* 슬라이드 내부의 내용 중앙 정렬 */
}

.slick-dots {
  bottom: 10px; /* 페이지네이션 위치 조정 */
}
